@model IEnumerable<ThAmCo.Events.Models.GuestBookingViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <lable>Guest Name</lable>
            </th>
            <th>
                <label>Guest Email</label>
            </th>
            <th>
                <label>Guest Attendace</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.Email)
                </td>
                <td>
                    <button id="atteneded" class="btn btn-success">Attended</button>
                </td>
                <td>
                    <button id="remove_guest" class="btn btn-danger">Remove guest from booking</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript" src="~/js/CreateEvent.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}