@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> ThreeAmigos Corp</p>
    <p> Managing a range of functions tailored to you including functions large or small, conferences, parties and weddings</p>
    <p> Here at ThreeAmigos we also offer catering and staffing for your events</p>
    <p> Overseas bookings also available</p>
</div>
