@model ThAmCo.Events.Models.EventViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="EventTypeId" class="form-control" asp-items="Model.EventTypeList">
                </select>
                <span asp-validation-for="EventTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDateStart" class="control-label">start date:</label>
                <input asp-for="EventDateStart" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="EventDateEnd" class="control-label">end date:</label>
                <input asp-for="EventDateEnd" class="form-control" type="date" />
                <button id="button_1" class="btn btn-primary">Check availability</button>
            </div>
            <div class="form-group">
                <label for="EventDate" class="control-label">Available Dates:</label>
                <select id="EventDate" class="form-control" disabled="disabled"></select>
            </div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientReferenceId" class="control-label"></label>
                <input asp-for="ClientReferenceId" class="form-control" />
                <span asp-validation-for="ClientReferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#button_1").click(function () {
                alert("url was successful");
                function loadAvailableDates() {
                    $.ajax({
                        //api/Availability?eventType=WED&beginDate=2022-11-01&endDate=2022-11-30
                        url: "https://localhost:7088/api/Availability?eventType=" + $("#EventTypeId") + "&beginDate=" 
                                + $("#EventDateStart") + "&endDate=" + $("#EventDateEnd")
                                type: "GET",
                        success: function (result) {
                            alert("url was successful");
                            $('#EventDate').html('');     // Empty select list
                            var options = '';
                            options += '<option value="Select">Select</option>';
                            for (var i = 0; i < result.length; i++) {
                                options += '<option value="' + result[i].date + '">' +
                                    result[i].date + " " + result[i].name + " " +
                                    result[i].capacity + " " + result[i].costPerHour +
                                    '</option>';
                            }
                            $('#EventDate').append(options);
                            $('#EventDate').removeAttr("disabled")
                        },
                        error: function () {
                            alert("Unable to load available venues and dates.");
                        }
                    });

                    $('#EventDate').removeAttr("disabled")
                    loadAvailableDates();
                });
        });
    </script>
    <script></script>
    <script type="text/javascript" src="~/js/checkAvailability.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
